[submodule "websocket-server"]
	path = websocket-server
	url = https://github.com/vincemaina/random-acts-of-music-ws.git
[submodule "random-acts-of-music-ws"]
	path = random-acts-of-music-ws
	url = https://github.com/vincemaina/random-acts-of-music-ws.git
